# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Dependency directories
lib/
bin/
build/
dist/

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
\# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Visual Studio Code
.vscode/
